Project Development Phase/sprint 4/flows.json
[{"id":"4f05682f1017e4b7","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"6f8d4eb07ca44d65","type":"ibmiot in","z":"4f05682f1017e4b7","authentication":"apiKey","apiKey":"20838f01b49fa713","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"ibmid","applicationId":"","deviceType":"ibmdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":100,"wires":[["f6e0a5e007814bfb","f436356eb9b0b6b5","34bc4ab1a4360743"]]},{"id":"f6e0a5e007814bfb","type":"debug","z":"4f05682f1017e4b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":80,"wires":[]},{"id":"ef741a1988dd661a","type":"ui_gauge","z":"4f05682f1017e4b7","name":"","group":"1ab6e8b663c827b9","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"C","format":"","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":670,"y":140,"wires":[]},{"id":"f436356eb9b0b6b5","type":"function","z":"4f05682f1017e4b7","name":"Temperature node","func":"msg.payload=msg.payload.Temperature\nglobal.set('t',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["ef741a1988dd661a"]]},{"id":"34bc4ab1a4360743","type":"function","z":"4f05682f1017e4b7","name":"Humidity","func":"msg.payload=msg.payload.Humidity\nglobal.set('h',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":180,"wires":[["06720981b922ca34"]]},{"id":"06720981b922ca34","type":"ui_gauge","z":"4f05682f1017e4b7","name":"","group":"1ab6e8b663c827b9","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":600,"y":180,"wires":[]},{"id":"cfa33f7301433268","type":"ui_button","z":"4f05682f1017e4b7","name":"","group":"1ab6e8b663c827b9","order":2,"width":0,"height":0,"passthru":false,"label":"light on","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lighton","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":380,"wires":[["0f2faa7e5549a69d","0734e6c94de3ed82"]]},{"id":"0f2faa7e5549a69d","type":"debug","z":"4f05682f1017e4b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":460,"wires":[]},{"id":"434e09eb7bbb9f59","type":"ui_button","z":"4f05682f1017e4b7","name":"","group":"1ab6e8b663c827b9","order":3,"width":0,"height":0,"passthru":false,"label":"light off","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"lightoff","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":460,"wires":[["0f2faa7e5549a69d","0734e6c94de3ed82"]]},{"id":"0734e6c94de3ed82","type":"ibmiot out","z":"4f05682f1017e4b7","authentication":"apiKey","apiKey":"20838f01b49fa713","outputType":"cmd","deviceId":"ibmid","deviceType":"ibmdevice","eventCommandType":"command","format":"string","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":320,"wires":[]},{"id":"6c02ea1ac9945d34","type":"http in","z":"4f05682f1017e4b7","name":"","url":"/sensor","method":"get","upload":false,"swaggerDoc":"","x":130,"y":320,"wires":[["aaafb15040441a44"]]},{"id":"4b80bea089ca1ba3","type":"http response","z":"4f05682f1017e4b7","name":"","statusCode":"","headers":{},"x":490,"y":320,"wires":[]},{"id":"aaafb15040441a44","type":"function","z":"4f05682f1017e4b7","name":"httpfunctionnode","func":"\nmsg.payload={\"temp\":global.get(\"t\"),\"humid\":global.get(\"h\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":300,"wires":[["4b80bea089ca1ba3"]]},{"id":"68ba31f64bd695e3","type":"http in","z":"4f05682f1017e4b7","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":310,"y":540,"wires":[["0f2faa7e5549a69d","0734e6c94de3ed82","48931a38c00c040d","7caed293c2311509"]]},{"id":"48931a38c00c040d","type":"http response","z":"4f05682f1017e4b7","name":"","statusCode":"","headers":{},"x":610,"y":540,"wires":[]},{"id":"7caed293c2311509","type":"function","z":"4f05682f1017e4b7","name":"command function node","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":640,"wires":[["48931a38c00c040d","0f2faa7e5549a69d","0734e6c94de3ed82"]]},{"id":"20838f01b49fa713","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1ab6e8b663c827b9","type":"ui_group","name":"Weather monitoring","tab":"c71068db6c1c83ed","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c71068db6c1c83ed","type":"ui_tab","name":"Control","icon":"dashboard","disabled":false,"hidden":false}]